
<subheader title='Icons' [breadcrumb]="['UI INTERFACE', 'Icons']"></subheader>

<card title='Icons'>
    <p class="mb-4">We have integrated the 5 most popular icon libraries and configured them for different components.<br>But you can use any other icon fonts.</p>
    <div class="row">
        <div class="col-md-6 text-center mb-5">
            <h5 class="mb-3">Feather Icons</h5>
            <div class="icons-demo-box mx-auto mb-3">
                <div><i class="ft-bell"></i></div>
                <div><i class="ft-layers"></i></div>
                <div><i class="ft-lock"></i></div>
                <div><i class="ft-user"></i></div>
                <div><i class="ft-trending-up"></i></div>
                <div><i class="ft-search"></i></div>
                <div><i class="ft-anchor"></i></div>
                <div><i class="ft-bar-chart"></i></div>
                <div><i class="ft-check-circle"></i></div>
            </div><a href="https://feathericons.com/" target="_blank">View all icons</a>
        </div>
        <div class="col-md-6 text-center mb-5">
            <h5 class="mb-3">Themify Icons</h5>
            <div class="icons-demo-box mx-auto mb-3">
                <div><i class="ti-shopping-cart"></i></div>
                <div><i class="ti-paint-roller"></i></div>
                <div><i class="ti-lock"></i></div>
                <div><i class="ti-user"></i></div>
                <div><i class="ti-comment-alt"></i></div>
                <div><i class="ti-stats-up"></i></div>
                <div><i class="ti-menu"></i></div>
                <div><i class="ti-server"></i></div>
                <div><i class="ti-paint-bucket"></i></div>
            </div><a href="https://themify.me/themify-icons" target="_blank">View all icons</a>
        </div>
        <div class="col-md-6 text-center mb-5">
            <h5 class="mb-3">LineAwesome Icons</h5>
            <div class="icons-demo-box mx-auto mb-3">
                <div><i class="la la-ambulance"></i></div>
                <div><i class="la la-anchor"></i></div>
                <div><i class="la la-android"></i></div>
                <div><i class="la la-calendar-plus-o"></i></div>
                <div><i class="la la-arrows-alt"></i></div>
                <div><i class="la la-bell"></i></div>
                <div><i class="la la-briefcase"></i></div>
                <div><i class="la la-bullhorn"></i></div>
                <div><i class="la la-camera-retro"></i></div>
            </div><a href="https://ru.icons8.com/line-awesome" target="_blank">View all icons</a>
        </div>
        <div class="col-md-6 text-center mb-5">
            <h5 class="mb-4">Material Icons</h5>
            <div class="icons-demo-box mx-auto mb-3">
                <div><i class="material-icons">card_travel</i></div>
                <div><i class="material-icons">alarm</i></div>
                <div><i class="material-icons">add_shopping_cart</i></div>
                <div><i class="material-icons">search</i></div>
                <div><i class="material-icons">check</i></div>
                <div><i class="material-icons">favorite_border</i></div>
                <div><i class="material-icons">lock_outline</i></div>
                <div><i class="material-icons">mail_outline</i></div>
                <div><i class="material-icons">help_outline</i></div>
            </div><a href="https://material.io/icons/" target="_blank">View all icons</a>
        </div>
        <div class="col-md-6 text-center mb-5">
            <h5 class="mb-4">FontAwesome Icons</h5>
            <div class="icons-demo-box mx-auto mb-3">
                <div><i class="far fa-bell"></i></div>
                <div><i class="far fa-clock"></i></div>
                <div><i class="far fa-comment-dots"></i></div>
                <div><i class="far fa-chart-bar"></i></div>
                <div><i class="far fa-envelope-open"></i></div>
                <div><i class="far fa-heart"></i></div>
                <div><i class="fas fa-bars"></i></div>
                <div><i class="far fa-file-alt"></i></div>
                <div><i class="far fa-calendar-check"></i></div>
            </div><a href="https://fontawesome.com/icons" target="_blank">View all icons</a>
        </div>
    </div>
</card>