<div class="box-wrapper">
    <div class="error-content py-3">
        <h1 class="error-code text-primary font-weight-normal" style="font-size: 120px">404</h1>
        <h3 class="text-muted mb-5">Sorry but we could not find the page you are looking for</h3>
        <div class="mb-5"><a class="btn btn-outline-primary" routerLink='/index'><span class="btn-icon"><i class="material-icons">arrow_back</i>Go Homepage</span></a></div>
        <form class="input-group-icon input-group-icon-left input-group-lg mb-4" action="javascript:;" method="POST"><span class="input-icon font-16"><i class="ti-search"></i></span><input class="form-control shadow" type="text" placeholder="Search ..."></form>
    </div>
</div>
