<subheader title='Badges' [breadcrumb]="['UI Kit', 'Badges']"></subheader>

<card>
    <h5 class="box-title text-primary">BADGES</h5>
    <h5 class="mb-4">Basic Badges</h5>
    <div class="demo-badge-list"><span class="badge badge-primary">Primary</span><span class="badge badge-secondary">Secondary</span><span class="badge badge-success">Success</span><span class="badge badge-danger">Danger</span><span class="badge badge-warning">Warning</span><span class="badge badge-info">Info</span><span class="badge badge-light">Light</span><span class="badge badge-dark">Dark</span></div>
    <hr class="my-4">
    <h5 class="mb-4">Pill Badges</h5>
    <div class="demo-badge-list"><span class="badge badge-pill badge-primary">Primary</span><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-success">Success</span><span class="badge badge-pill badge-danger">Danger</span><span class="badge badge-pill badge-warning">Warning</span><span class="badge badge-pill badge-info">Info</span><span class="badge badge-pill badge-light">Light</span><span class="badge badge-pill badge-dark">Dark</span></div>
    <hr class="my-4">
    <h5 class="mb-4">Circle Badges</h5>
    <div class="demo-badge-list"><span class="badge badge-primary badge-circle">7</span><span class="badge badge-secondary badge-circle">4</span><span class="badge badge-success badge-circle">1</span><span class="badge badge-danger badge-circle">4</span><span class="badge badge-warning badge-circle">8</span><span class="badge badge-info badge-circle">9</span><span class="badge badge-light badge-circle">2</span><span class="badge badge-dark badge-circle">5</span></div>
    <hr class="my-4">
    <h5 class="mb-4">Point Badges</h5>
    <div class="demo-badge-list"><span class="badge badge-primary badge-point"></span><span class="badge badge-secondary badge-point"></span><span class="badge badge-success badge-point"></span><span class="badge badge-danger badge-point"></span><span class="badge badge-warning badge-point"></span><span class="badge badge-info badge-point"></span><span class="badge badge-light badge-point"></span><span class="badge badge-dark badge-point"></span></div>
    <hr class="my-4">
    <h5 class="mb-4">Links</h5>
    <div class="demo-badge-list"><a class="badge badge-primary" href="javascript:;">Primary</a><a class="badge badge-secondary" href="javascript:;">Secondary</a><a class="badge badge-success" href="javascript:;">Success</a><a class="badge badge-danger" href="javascript:;">Danger</a><a class="badge badge-warning" href="javascript:;">Warning</a><a class="badge badge-info" href="javascript:;">Info</a><a class="badge badge-light" href="javascript:;">Light</a><a class="badge badge-dark" href="javascript:;">Dark</a></div>
    <hr class="my-4">
    <h5 class="mb-4">Badges in heading</h5>
    <h1>Example heading <span class="badge badge-secondary">New</span></h1>
    <h2>Example heading <span class="badge badge-secondary">New</span></h2>
    <h3>Example heading <span class="badge badge-secondary">New</span></h3>
    <h4>Example heading <span class="badge badge-secondary">New</span></h4>
    <h5>Example heading <span class="badge badge-secondary">New</span></h5>
    <h6>Example heading <span class="badge badge-secondary">New</span></h6>
    <hr class="my-4">
    <p class="text-muted mb-4">Badges can be used as part of links or buttons to provide a counter.</p><button class="btn btn-primary" type="button">Notifications<span class="badge badge-light ml-2">4</span></button>
</card>
