<div>
    <div class="card">
        <div class="text-center"><span class="auth-head-icon text-primary"><i class="ti-lock"></i></span></div>
        <div class="card-body pt-1">
            <h4 class="text-center mb-4">Lockscreen</h4>
            <div class="row">
                <div class="col-4"><img class="rounded-circle" src="./assets/img/users/u1.jpg" alt="image" width="110" /></div>
                <div class="col-8">
                    <p class="font-13">Your are in lock screen. Enter your password to retrieve your session</p>
                    <form id="lockscreen-form" action="javascript:;">
                        <div class="md-form mb-0">
                        	<input class="md-form-control" type="password" name="password">
                        	<label>*****</label>
                        </div>
                        <button class="btn btn-primary btn-block mt-4" type="submit"><span class="btn-icon"><i class="ti-lock"></i>UNLOCK</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center text-muted font-13">© All rights reserved</div>
</div>
<a class="btn btn-link home-link" routerLink='/index'>
	<span class="btn-icon"><i class="ti-arrow-left font-20"></i>Go Home</span>
</a>
