
@import 'src/@theme/scss/components/functions';
@import 'src/@theme/scss/components/mixins';
@import 'src/@theme/scss/components/variables';

.contacts-filter-nav {
    .nav-link {
        color: inherit;
        border-radius: 0.25rem;
        .material-icons {
            color: $text-muted;
        }
        &.active {
            background-color: #bfc8fa;
            &, .material-icons {
                color: theme_color('primary');
            }
        }
    }
}
.contacts-table {
    tbody {
        tr {
            cursor: pointer;
            td {
                &:first-child {
                    padding-left: 1.5rem;
                }
            }
        }
    }
    .contact-avatar {
        //display: none;
    }
}
.contact-details {
    .contact-detail-title {
        min-width: 90px;
        color: $text-muted;
    }
}
.contacts-sidenav-container {
    background-color: inherit;
    mat-sidenav {
        &:not(.mat-drawer-over) {
            background-color: inherit;
        }
        &.mat-drawer-over {
            padding: 20px;
        }
        border: 0;
        &.mat-drawer-side ~ mat-sidenav-content {padding-left: 20px}
    }
    mat-sidenav-content {}
}