<div>
    <div class="card">
        <div class="text-center"><span class="auth-head-icon text-primary"><i class="la la-key"></i></span></div>
        <div class="card-body pt-1">
            <h4 class="text-center mb-4">Reset Password</h4>
            <p class="mb-4 text-center">Enter your email address below and we'll send you password reset instructions.</p>
            <form id="reset-password-form" action="javascript:;">
                <div class="md-form mb-0">
                	<input class="md-form-control" type="email" placeholder="Email" [(ngModel)]="user.EmailId" name="EmailID"/>
                	
                </div>
                <button class="btn btn-primary btn-rounded btn-block mt-4" (click)="click()">SUBMIT</button>
            </form>
        </div>
    </div>
    <a class="btn btn-link home-link" routerLink="/">
            <span class="btn-icon">
                <i class="ti-arrow-left font-20"></i>Go Login</span>
        </a>
    <div class="text-center text-muted font-13">© All rights reserved</div>
</div>
<!-- <a class="btn btn-link home-link" routerLink='/index'>
	<span class="btn-icon"><i class="ti-arrow-left font-20"></i>Go Home</span>
</a> -->
