
<subheader title='Basic Cards' [breadcrumb]="['Cards', 'Basic Cards']"></subheader>

<div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card Title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                    <div class="text-muted font-13">Dec 27 2018</div>
                    <hr>
                    <div class="flexbox"><a class="btn btn-outline-primary btn-rounded" href="#">READ MORE</a>
                        <div><span class="text-muted mr-4"><i class="far fa-heart mr-2"></i>24</span><button class="btn btn-danger btn-floating" type="button"><i class="la la-share-alt"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="box-title mb-2">Card title</h5>
                    <div class="mb-4 text-muted font-13">Card Subtitle</div>
                    <p class="card-text">Proident eu ullamco consectetur nulla enim ut proident adipiscing qui aliquip occaecat dolor cupidatat cillum aute ex ad ullamco qui sit reprehenderit ut do ut aliquip proident deserunt magna ut sunt excepteur proident
                        qui in lorem nulla duis occaecat aliquip eu nulla nulla laboris in mollit ullamco officia magna exercitation amet elit incididunt magna mollit ut ut quis sunt amet labore labore amet dolor mollit dolor.</p><a class="card-link" href="#">Card link</a><a class="card-link" href="#">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mt-4">
                <div class="card-cup bg-primary text-white justify-content-center">
                    <h5 class="mb-0">Card Cup</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-muted font-13">Dec 27 2018</div>
                    <hr>
                    <div class="flexbox"><a href="#">READ MORE</a>
                        <div><span class="text-muted mr-4"><i class="far fa-heart mr-2"></i>24</span><button class="btn btn-primary btn-floating" type="button"><i class="la la-share-alt"></i></button></div>
                    </div>
                </div>
            </div>
            <div class="card"><img class="card-img-top" src="./assets/img/blog/08.jpeg">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-muted font-13">Dec 27 2018</div>
                    <hr>
                    <div class="flexbox"><a href="#">READ MORE</a>
                        <div><span class="text-muted mr-4"><i class="far fa-heart mr-2"></i>24</span><button class="btn btn-primary btn-floating" type="button"><i class="la la-share-alt"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="box-title">Scrollable Content</h5>
                </div>
                <div class="card-body">
                    <div class="custom-scroll position-relative" style="height:250px;">Amet labore pariatur in exercitation velit anim do adipiscing nulla dolore magna ullamco non adipiscing pariatur sunt deserunt dolor sit tempor nisi in anim enim dolore in laboris non cillum nisi dolore eiusmod ullamco
                        fugiat id enim culpa qui est excepteur exercitation dolor excepteur ut dolor est quis occaecat aute occaecat labore exercitation officia quis aliqua cillum laborum ut ad aliqua tempor exercitation labore nostrud
                        eu est adipiscing ipsum occaecat id cupidatat laborum magna in ea elit est tempor ut ullamco sint enim nostrud amet exercitation ut est nostrud ut dolore cillum est officia in magna consectetur aliqua duis ad esse
                        nostrud adipiscing ea consectetur ut ullamco id reprehenderit nisi ad incididunt consectetur sit tempor deserunt voluptate sint fugiat in ut anim cupidatat incididunt lorem id amet elit tempor irure officia minim
                        laboris elit excepteur et adipiscing cupidatat lorem dolor cillum amet do qui veniam et reprehenderit ut nisi id</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-fullheight">
                <div class="card-header">
                    <h5 class="mb-0">Header and Footer</h5>
                    <div class="card-actions"><a class="dropdown-toggle no-arrow" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil mr-3"></i>Create</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil-alt mr-3"></i>Edit</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-close mr-3"></i>Remove</a></div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">Proident eu ullamco consectetur nulla enim ut proident adipiscing qui aliquip occaecat dolor cupidatat cillum aute ex ad ullamco qui sit reprehenderit ut do ut aliquip proident deserunt magna ut sunt
                        do tempor pariatur lorem eiusmod sed mollit ullamco in sit ut in veniam mollit minim anim sed quis minim ut nostrud voluptate mollit fugiat consectetur irure nisi aliqua consectetur ut dolore reprehenderit aliquip nulla
                        excepteur proident qui in lorem nulla duis occaecat aliquip eu nulla nulla laboris in mollit ullamco officia magna exercitation amet elit incididunt magna mollit ut ut quis sunt amet labore labore amet dolor mollit
                        dolor.</p>
                </div>
                <div class="card-footer">Card Footer</div>
            </div>
        </div>
    </div>
    <h4 class="text-center mb-5 mt-4">With Images</h4>
    <div class="row">
        <div class="col-lg-8">
            <div class="bg-white shadow-sm mb-4">
                <div class="row">
                    <div class="col-lg-5"><img src="./assets/img/blog/06.jpeg" alt="image" style="min-height: 100%"></div>
                    <div class="col-lg-7 card-body">
                        <div class="text-muted mb-2 font-13">Dec 27 2018</div>
                        <h5 class="card-title">Lorem ipsum dolor sit amet sed</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p><a href="#">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow-sm mb-4">
                <div class="row">
                    <div class="col-lg-5"><img src="./assets/img/blog/07.jpeg" alt="image" style="min-height: 100%"></div>
                    <div class="col-lg-7 card-body">
                        <div class="text-muted mb-2 font-13">Dec 27 2018</div>
                        <h5 class="card-title">Lorem ipsum dolor sit amet sed</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p><a href="#">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card"><img class="card-img-top" src="./assets/img/blog/08.jpeg">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-muted font-13">Dec 27 2018</div>
                    <hr>
                    <div class="flexbox"><a href="#">READ MORE</a>
                        <div><span class="text-muted mr-4"><i class="far fa-heart mr-2"></i>24</span><button class="btn btn-primary btn-floating" type="button"><i class="la la-share-alt"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body media"><img class="rounded-lg mr-4" src="./assets/img/blog/07.jpeg" width="185">
                    <div class="media-body">
                        <h5 class="card-title text-primary">Card Title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex align-items-center"><span class="text-muted font-13 mr-4">Dec 22 2018</span><a href="#">Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body media"><img class="rounded-lg mr-4" src="./assets/img/blog/06.jpeg" width="185">
                    <div class="media-body">
                        <h5 class="card-title text-primary">Card Title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex align-items-center"><span class="text-muted font-13 mr-4">Dec 22 2018</span><a href="#">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-body"><img class="rounded-lg mb-4" src="./assets/img/blog/08.jpeg">
                    <h5 class="card-title text-primary">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="flexbox"><span class="text-muted font-13">Dec 22 2018</span><a href="#">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="card bg-dark text-white"><img class="card-img" src="./assets/img/blog/08.jpeg" alt="image">
                <div class="card-img-overlay p-4 d-flex flex-column justify-content-center align-items-center text-center" style="background-color: rgba(0,0,0,.5);">
                    <h3 class="card-title my-4">Card title</h3>
                    <p class="card-text mb-4">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text mb-4">Last updated 3 mins ago</p><a class="btn btn-rounded btn-light" href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card bg-dark text-white"><img class="card-img" src="./assets/img/blog/06.jpeg" alt="image">
                <div class="card-img-overlay p-4 d-flex flex-column justify-content-between align-items-start" style="background-color: rgba(0,0,0,.5);">
                    <div class="flexbox w-100">
                        <div><span class="badge badge-primary">Fashion</span><span class="badge badge-danger">News</span></div><span><i class="far fa-comment mr-2"></i>45</span>
                    </div>
                    <div class="h2 card-title mb-2"><a class="text-white" href="javascript:;">Web Design Trends<br>Strict Selection</a></div>
                    <p class="card-text">Last updated 2 hrs ago</p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center mb-5 mt-4">CARDS WITH CAP</h4>
    <hr class="my-4">
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-cup bg-primary text-white justify-content-center">
                    <h5 class="mb-0">Card Cup</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-muted font-13">Dec 27 2018</div>
                    <hr>
                    <div class="flexbox"><a href="#">READ MORE</a>
                        <div><span class="text-muted mr-4"><i class="far fa-heart mr-2"></i>24</span><button class="btn btn-primary btn-floating" type="button"><i class="la la-share-alt"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-cup bg-white justify-content-center">
                    <h5 class="mb-0">Card Cup</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-muted font-13">Dec 27 2018</div>
                    <hr>
                    <div class="flexbox"><a href="#">READ MORE</a>
                        <div><span class="text-muted mr-4"><i class="far fa-heart mr-2"></i>24</span><button class="btn btn-primary btn-floating" type="button"><i class="la la-share-alt"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-cup bg-danger text-white justify-content-center">
                    <h5 class="mb-0">Card Cup</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="text-muted font-13">Dec 27 2018</div>
                    <hr>
                    <div class="flexbox"><a href="#">READ MORE</a>
                        <div><span class="text-muted mr-4"><i class="far fa-heart mr-2"></i>24</span><button class="btn btn-primary btn-floating" type="button"><i class="la la-share-alt"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center mb-5 mt-4">CARD COLORS</h4>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-fullheight card-dark bg-primary text-white">
                <div class="card-body">
                    <h5 class="box-title">Card Title</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                    <div class="font-13 text-white-50">Dec 27 2018</div>
                    <hr>
                    <div class="flexbox"><a class="btn btn-light btn-rounded" href="#">READ MORE</a>
                        <div><span class="mr-4 text-white-50"><i class="far fa-heart mr-2"></i>24</span><button class="btn btn-danger btn-floating" type="button"><i class="la la-share-alt"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-fullheight card-dark">
                <div class="card-header bg-primary">
                    <h5 class="box-title">DARK HEADER</h5>
                    <div class="card-actions"><a class="dropdown-toggle no-arrow" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil mr-3"></i>Create</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil-alt mr-3"></i>Edit</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-close mr-3"></i>Remove</a></div>
                    </div>
                </div>
                <div class="card-body">Tempor sed ut nostrud esse dolore ullamco tempor cupidatat non proident incididunt tempor magna dolore aliquip lorem dolor voluptate sit et eu qui magna ea cupidatat aliquip ipsum aliqua velit irure nulla veniam do qui exercitation consequat in eiusmod irure ex culpa non eiusmod quis anim ipsum ut consectetur excepteur sunt culpa non duis anim elit ea proident officia eu aliquip mollit adipiscing ut sunt reprehenderit adipiscing lorem fugiat aliqua dolor lorem esse exercitation ea ex reprehenderit voluptate esse reprehenderit officia nisi eiusmod ut excepteur eu commodo nulla duis enim labore officia commodo ut proident do id ut eiusmod lorem </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-fullheight card-dark">
                <div class="card-header bg-dark">
                    <h5 class="box-title">DARK HEADER</h5>
                    <div class="card-actions"><a class="dropdown-toggle no-arrow" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil mr-3"></i>Create</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil-alt mr-3"></i>Edit</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-close mr-3"></i>Remove</a></div>
                    </div>
                </div>
                <div class="card-body">Aliqua amet aliqua cupidatat dolore mollit excepteur ullamco aliqua proident enim velit in id ipsum nostrud ex minim proident dolor fugiat nostrud proident magna aliquip amet ad minim velit velit dolor amet elit consectetur aliquip ut incididunt dolore occaecat sed duis nisi ipsum ut laborum officia voluptate cupidatat anim id dolore excepteur in exercitation dolore proident occaecat anim eiusmod proident in mollit ut sed dolore tempor id nostrud aliquip amet aute ut deserunt non non esse fugiat in esse anim ut fugiat deserunt veniam cillum sunt eu magna exercitation sunt dolor enim occaecat in ullamco in minim incididunt deserunt culpa </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-fullheight">
                <div class="card-header bg-light">
                    <h5 class="box-title">LIGHT HEADER</h5>
                    <div class="card-actions"><a class="dropdown-toggle no-arrow" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil mr-3"></i>Create</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil-alt mr-3"></i>Edit</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-close mr-3"></i>Remove</a></div>
                    </div>
                </div>
                <div class="card-body">Magna ad adipiscing nostrud fugiat ex dolore commodo eiusmod nulla labore labore qui labore nisi voluptate deserunt in duis aliquip cupidatat eu pariatur dolore dolore magna duis occaecat voluptate ut aute proident amet sunt laborum minim ut aute eu consequat veniam pariatur consectetur est tempor dolore in incididunt voluptate laborum dolore sed ad ad aliqua ipsum commodo magna labore reprehenderit veniam elit minim consequat anim occaecat magna ut commodo nisi dolore est amet velit cillum anim in irure sint voluptate id adipiscing amet ipsum exercitation sint ea dolor dolor exercitation ad pariatur consequat et aliquip qui officia amet anim fugiat </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-fullheight card-dark">
                <div class="card-header bg-danger">
                    <h5 class="box-title">DARK HEADER</h5>
                    <div class="card-actions"><a class="dropdown-toggle no-arrow" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil mr-3"></i>Create</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil-alt mr-3"></i>Edit</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-close mr-3"></i>Remove</a></div>
                    </div>
                </div>
                <div class="card-body">Anim labore ea sint sed dolore sunt non esse aliquip consequat minim voluptate ad nostrud dolor ut sunt qui sit est in dolor magna in do est sint laboris dolor deserunt aliquip aliquip amet amet adipiscing pariatur incididunt eiusmod ullamco mollit non anim qui ullamco ad sint quis do irure qui dolor adipiscing et ex reprehenderit sit ea irure enim eu adipiscing in nostrud ut non veniam ut ut quis sunt ad laboris non id ut nulla anim officia in nostrud nisi nostrud commodo consectetur cillum amet cillum laborum adipiscing fugiat nulla cillum ut sint ea culpa aliquip aliqua dolor </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-fullheight card-dark">
                <div class="card-header bg-secondary">
                    <h5 class="box-title">DARK HEADER</h5>
                    <div class="card-actions"><a class="dropdown-toggle no-arrow" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil mr-3"></i>Create</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil-alt mr-3"></i>Edit</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-close mr-3"></i>Remove</a></div>
                    </div>
                </div>
                <div class="card-body">Exercitation incididunt cupidatat in enim anim elit velit ea fugiat lorem elit occaecat duis ut fugiat aliqua ea esse do sed qui deserunt aute dolore in non irure ipsum consequat qui aliquip amet esse aliqua et dolor do ipsum culpa lorem anim dolor ea sit in commodo proident eiusmod aute anim in deserunt duis ut exercitation exercitation in cillum dolore labore dolore magna do proident dolore laboris pariatur ad cillum ut ipsum nulla reprehenderit ex laborum ut anim anim veniam aliqua sint sed labore ad aute laboris proident labore sint officia ut incididunt sint in aute in aliquip dolor et </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-fullheight card-dark">
                <div class="card-header bg-info">
                    <h5 class="box-title">DARK HEADER</h5>
                    <div class="card-actions"><a class="dropdown-toggle no-arrow" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil mr-3"></i>Create</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-pencil-alt mr-3"></i>Edit</a><a class="dropdown-item d-flex align-items-center" href="#"><i class="ti-close mr-3"></i>Remove</a></div>
                    </div>
                </div>
                <div class="card-body">Voluptate laboris elit consectetur pariatur in culpa nostrud non culpa pariatur commodo lorem non ut dolor in in in dolore irure minim fugiat sit aute ut sed do laboris culpa non in amet ut anim reprehenderit duis in duis eiusmod tempor ullamco irure ea sed incididunt adipiscing labore consectetur ea veniam magna ex ea labore qui est non in dolor voluptate cupidatat culpa veniam deserunt sunt ad reprehenderit non quis sint dolore occaecat nisi cupidatat consectetur excepteur ipsum ea laborum id do dolor ut tempor mollit magna veniam est laborum consequat laboris nostrud non ipsum cupidatat ipsum ut sunt nisi </div>
            </div>
        </div>
    </div>
</div>
