
<subheader title='Card Action' [breadcrumb]="['Cards', 'Card Action']"></subheader>

<div class="row">
	<div class="col-md-6">
		<card title='Collapsible' [actions]="{collapsible: true}">
			Tempor id magna sint ut proident aliquip quis consequat ipsum amet sit laboris id voluptate anim dolor voluptate culpa ut in esse duis anim in cupidatat sit consectetur in labore ea est eu non laboris duis voluptate officia aute laborum eiusmod occaecat laborum fugiat voluptate fugiat in ut sunt esse cupidatat ad amet sed magna laboris excepteur consectetur deserunt in laborum adipiscing adipiscing in dolor do sint ullamco enim lorem dolore velit nulla ipsum qui excepteur nulla dolor dolore in dolore irure labore exercitation officia proident amet enim cillum consectetur duis ipsum nulla cillum velit commodo culpa sunt duis eiusmod.
		</card>
	</div>
	<div class="col-md-6">
		<card title='Removable' [actions]="{removable: true}">
			Tempor id magna sint ut proident aliquip quis consequat ipsum amet sit laboris id voluptate anim dolor voluptate culpa ut in esse duis anim in cupidatat sit consectetur in labore ea est eu non laboris duis voluptate officia aute laborum eiusmod occaecat laborum fugiat voluptate fugiat in ut sunt esse cupidatat ad amet sed magna laboris excepteur consectetur deserunt in laborum adipiscing adipiscing in dolor do sint ullamco enim lorem dolore velit nulla ipsum qui excepteur nulla dolor dolore in dolore irure labore exercitation officia proident amet enim cillum consectetur duis ipsum nulla cillum velit commodo culpa sunt duis eiusmod.
		</card>
	</div>
	<div class="col-md-6">
		<card title='Fullscreen Action' [actions]="{fullscreen: true}">
			Tempor id magna sint ut proident aliquip quis consequat ipsum amet sit laboris id voluptate anim dolor voluptate culpa ut in esse duis anim in cupidatat sit consectetur in labore ea est eu non laboris duis voluptate officia aute laborum eiusmod occaecat laborum fugiat voluptate fugiat in ut sunt esse cupidatat ad amet sed magna laboris excepteur consectetur deserunt in laborum adipiscing adipiscing in dolor do sint ullamco enim lorem dolore velit nulla ipsum qui excepteur nulla dolor dolore in dolore irure labore exercitation officia proident amet enim cillum consectetur duis ipsum nulla cillum velit commodo culpa sunt duis eiusmod.
		</card>
	</div>
	<div class="col-md-6">
		<card title='Card Actions' [actions]="{collapsible: true, removable: true, fullscreen: true}">
			Tempor id magna sint ut proident aliquip quis consequat ipsum amet sit laboris id voluptate anim dolor voluptate culpa ut in esse duis anim in cupidatat sit consectetur in labore ea est eu non laboris duis voluptate officia aute laborum eiusmod occaecat laborum fugiat voluptate fugiat in ut sunt esse cupidatat ad amet sed magna laboris excepteur consectetur deserunt in laborum adipiscing adipiscing in dolor do sint ullamco enim lorem dolore velit nulla ipsum qui excepteur nulla dolor dolore in dolore irure labore exercitation officia proident amet enim cillum consectetur duis ipsum nulla cillum velit commodo culpa sunt duis eiusmod.
		</card>
	</div>
</div>
