
// :host {
//     background-color: #eff4ff;
//     flex: 1 0 auto;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 50px 15px 30px 15px;
// }

// .auth-content {
//     max-width: 400px;
//     flex-basis: 400px;
//     box-shadow: 0 5px 20px #d6dee4;
// }

// .home-link {
//     position: absolute;
//     left: 5px;
//     top: 10px;
// }
body {
	background-color: #eff4ff;
}
.auth-wrapper {
		flex: 1 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 50px 15px 30px 15px;
}
.auth-content {
		max-width: 900px;
		flex-basis: 900px;
		box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
}
.home-link {
		position: absolute;
		left: 5px;
		top: 10px;
}
