<subheader title='Checkbox & Radios' [breadcrumb]="['UI Kit', 'Forms', 'Checkbox & Radios']"></subheader>

<div class="row">
	<div class="col-lg-6">
		<card title='Checkboxes' fullheight="true">
			<div>
				<p class="text-muted mb-4">It is very easy. Add the class <code>.checkbox</code> to <code>&lt;label&gt;</code>.</p>
				<label class="checkbox">
				    <input type="checkbox">
				    <span>Default checkbox</span>
				</label>
				<label class="checkbox mt-3">
				    <input type="checkbox" checked="">
				    <span>Checked</span>
				</label>
				<label class="checkbox checkbox-grey mt-3">
				    <input type="checkbox">
				    <span>Grey checkbox</span>
				</label>
				<label class="checkbox checkbox-primary mt-3">
				    <input type="checkbox" checked="">
				    <span>Primary</span>
				</label>
				<label class="checkbox mt-3">
				    <input type="checkbox" disabled="">
				    <span>Disabled</span>
				</label>
				<hr class="my-4">
				<h5>Square</h5>
				<p class="text-muted mb-4">Add <code>.checkbox-square</code> to <code>.checkbox</code>.</p>
				<label class="checkbox checkbox-square">
				    <input type="checkbox">
				    <span>Square corners</span>
				</label>
				<label class="checkbox checkbox-primary checkbox-square mt-3">
				    <input type="checkbox" checked="">
				    <span>Square corners</span>
				</label>
				<hr class="my-4">
				<h5>Inline</h5>
				<p class="text-muted mb-4">Add <code>.checkbox-inline</code> for inline checkboxes.</p>
				<div>
				    <label class="checkbox checkbox-inline checkbox-primary">
				        <input type="checkbox">
				        <span>Option 1</span>
				    </label>
				    <label class="checkbox checkbox-inline checkbox-primary">
				        <input type="checkbox">
				        <span>Option 2</span>
				    </label>
				    <label class="checkbox checkbox-inline checkbox-primary">
				        <input type="checkbox">
				        <span>Option 3</span>
				    </label>
				</div>
				<hr class="my-4">
				<h5>Check list</h5>
				<p class="text-muted mb-4">Wrap th list of checkboxes and radio buttons to <code>.check-list</code> and margin will be added to them.</p>
				<div class="check-list">
				    <label class="checkbox checkbox-grey checkbox-primary">
				        <input type="checkbox" checked="">
				        <span>Option 1</span>
				    </label>
				    <label class="checkbox checkbox-grey checkbox-primary">
				        <input type="checkbox">
				        <span>Option 1</span>
				    </label>
				    <label class="checkbox checkbox-grey checkbox-primary">
				        <input type="checkbox">
				        <span>Option 1</span>
				    </label>
				</div>
			</div>
		</card>
	</div>
	<div class="col-lg-6">
		<card title='Radio Buttons' fullheight="true">
			<div>
				<p class="text-muted mb-4">It is very easy. Add the class <code>.radio</code> to <code>&lt;label&gt;</code>.</p>
				<label class="radio">
				    <input type="radio">
				    <span>Default radio</span>
				</label>
				<label class="radio mt-3">
				    <input type="radio" checked="">
				    <span>Checked</span>
				</label>
				<label class="radio radio-grey mt-3">
				    <input type="radio">
				    <span>Grey radio</span>
				</label>
				<label class="radio radio-primary mt-3">
				    <input type="radio" checked="">
				    <span>Primary</span>
				</label>
				<label class="radio mt-3">
				    <input type="radio" disabled="">
				    <span>Disabled</span>
				</label>
				<hr class="my-4">
				<h5>Inline</h5>
				<p class="text-muted mb-4">Add <code>.radio-inline</code> for inline radio buttons.</p>
				<div>
				    <label class="radio radio-inline radio-primary">
				        <input type="radio" name="e">
				        <span>Option 1</span>
				    </label>
				    <label class="radio radio-inline radio-primary">
				        <input type="radio" name="e">
				        <span>Option 2</span>
				    </label>
				    <label class="radio radio-inline radio-primary">
				        <input type="radio" name="e">
				        <span>Option 3</span>
				    </label>
				</div>
				<hr class="my-4">
				<h5>Check list</h5>
				<p class="text-muted mb-4">Wrap th list of checkboxes and radio buttons to <code>.check-list</code> and margin will be added to them.</p>
				<div class="check-list">
				    <label class="radio radio-grey radio-primary">
				        <input type="radio" name="cl" checked="">
				        <span>Option 1</span>
				    </label>
				    <label class="radio radio-grey radio-primary">
				        <input type="radio" name="cl">
				        <span>Option 2</span>
				    </label>
				    <label class="radio radio-grey radio-primary">
				        <input type="radio" name="cl">
				        <span>Option 3</span>
				    </label>
				</div>
			</div>
		</card>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<card title='State Colors' fullheight="true">
			<p class="text-muted mb-4">Add <code>.checkbox-*</code> for to change the appearance of a checkbox: <code>.checkbox-primary</code>, <code>.checkbox-info</code>...</p>
			<div class="row">
			    <div class="col-6 check-list">
			        <label class="checkbox checkbox-primary">
			            <input type="checkbox">
			            <span>Primary</span>
			        </label>
			        <label class="checkbox checkbox-success">
			            <input type="checkbox">
			            <span>Success</span>
			        </label>
			        <label class="checkbox checkbox-secondary">
			            <input type="checkbox">
			            <span>Secondary</span>
			        </label>
			        <label class="checkbox checkbox-info">
			            <input type="checkbox">
			            <span>Info</span>
			        </label>
			        <label class="checkbox checkbox-warning">
			            <input type="checkbox">
			            <span>Warning</span>
			        </label>
			        <label class="checkbox checkbox-danger">
			            <input type="checkbox">
			            <span>Danger</span>
			        </label>
			        <label class="checkbox checkbox-purple">
			            <input type="checkbox">
			            <span>Purple</span>
			        </label>
			        <label class="checkbox checkbox-dark">
			            <input type="checkbox">
			            <span>Dark</span>
			        </label>
			    </div>
			    <div class="col-6 check-list">
			        <label class="checkbox checkbox-primary">
			            <input type="checkbox" checked="">
			            <span>Primary</span>
			        </label>
			        <label class="checkbox checkbox-success">
			            <input type="checkbox" checked="">
			            <span>Success</span>
			        </label>
			        <label class="checkbox checkbox-secondary">
			            <input type="checkbox" checked="">
			            <span>Secondary</span>
			        </label>
			        <label class="checkbox checkbox-info">
			            <input type="checkbox" checked="">
			            <span>Info</span>
			        </label>
			        <label class="checkbox checkbox-warning">
			            <input type="checkbox" checked="">
			            <span>Warning</span>
			        </label>
			        <label class="checkbox checkbox-danger">
			            <input type="checkbox" checked="">
			            <span>Danger</span>
			        </label>
			        <label class="checkbox checkbox-purple">
			            <input type="checkbox" checked="">
			            <span>Purple</span>
			        </label>
			        <label class="checkbox checkbox-dark">
			            <input type="checkbox" checked="">
			            <span>Dark</span>
			        </label>
			    </div>
			</div>
			<hr class="my-4">
			<p class="text-muted my-4">In addition to the <code>.checkbox-*</code> modification classes you can also add an additional class <code>.checkbox-grey</code>.</p>
			<div class="row">
			    <div class="col-6 check-list">
			        <label class="checkbox checkbox-grey checkbox-primary">
			            <input type="checkbox">
			            <span>Primary</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-success">
			            <input type="checkbox">
			            <span>Success</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-secondary">
			            <input type="checkbox">
			            <span>Secondary</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-info">
			            <input type="checkbox">
			            <span>Info</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-warning">
			            <input type="checkbox">
			            <span>Warning</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-danger">
			            <input type="checkbox">
			            <span>Danger</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-purple">
			            <input type="checkbox">
			            <span>Purple</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-dark">
			            <input type="checkbox">
			            <span>Dark</span>
			        </label>
			    </div>
			    <div class="col-6 check-list">
			        <label class="checkbox checkbox-grey checkbox-primary">
			            <input type="checkbox" checked="">
			            <span>Primary</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-success">
			            <input type="checkbox" checked="">
			            <span>Success</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-secondary">
			            <input type="checkbox" checked="">
			            <span>Secondary</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-info">
			            <input type="checkbox" checked="">
			            <span>Info</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-warning">
			            <input type="checkbox" checked="">
			            <span>Warning</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-danger">
			            <input type="checkbox" checked="">
			            <span>Danger</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-purple">
			            <input type="checkbox" checked="">
			            <span>Purple</span>
			        </label>
			        <label class="checkbox checkbox-grey checkbox-dark">
			            <input type="checkbox" checked="">
			            <span>Dark</span>
			        </label>
			    </div>
			</div>
			<hr class="mt-4 mb-5">
			<h5>Outline</h5>
			<p class="text-muted mb-4">Add <code>.checkbox-outline-*</code> for outline checkboxes: <code>.checkbox-outline-primary</code>, <code>.checkbox-outline-info</code>...</p>
			<div class="row">
			    <div class="col-6 check-list">
			        <label class="checkbox checkbox-outline-primary">
			            <input type="checkbox">
			            <span>Primary</span>
			        </label>
			        <label class="checkbox checkbox-outline-success">
			            <input type="checkbox">
			            <span>Success</span>
			        </label>
			        <label class="checkbox checkbox-outline-secondary">
			            <input type="checkbox">
			            <span>Secondary</span>
			        </label>
			        <label class="checkbox checkbox-outline-info">
			            <input type="checkbox">
			            <span>Info</span>
			        </label>
			        <label class="checkbox checkbox-outline-warning">
			            <input type="checkbox">
			            <span>Warning</span>
			        </label>
			        <label class="checkbox checkbox-outline-danger">
			            <input type="checkbox">
			            <span>Danger</span>
			        </label>
			        <label class="checkbox checkbox-outline-purple">
			            <input type="checkbox">
			            <span>Purple</span>
			        </label>
			        <label class="checkbox checkbox-outline-dark">
			            <input type="checkbox">
			            <span>Dark</span>
			        </label>
			    </div>
			    <div class="col-6 check-list">
			        <label class="checkbox checkbox-outline-primary">
			            <input type="checkbox" checked="">
			            <span>Primary</span>
			        </label>
			        <label class="checkbox checkbox-outline-success">
			            <input type="checkbox" checked="">
			            <span>Success</span>
			        </label>
			        <label class="checkbox checkbox-outline-secondary">
			            <input type="checkbox" checked="">
			            <span>Secondary</span>
			        </label>
			        <label class="checkbox checkbox-outline-info">
			            <input type="checkbox" checked="">
			            <span>Info</span>
			        </label>
			        <label class="checkbox checkbox-outline-warning">
			            <input type="checkbox" checked="">
			            <span>Warning</span>
			        </label>
			        <label class="checkbox checkbox-outline-danger">
			            <input type="checkbox" checked="">
			            <span>Danger</span>
			        </label>
			        <label class="checkbox checkbox-outline-purple">
			            <input type="checkbox" checked="">
			            <span>Purple</span>
			        </label>
			        <label class="checkbox checkbox-outline-dark">
			            <input type="checkbox" checked="">
			            <span>Dark</span>
			        </label>
			    </div>
			</div>
		</card>
	</div>
	<div class="col-lg-6">
		<card title='State Colors' fullheight="true">
			<p class="text-muted mb-4">Add <code>.radio-*</code> for to change the appearance of a radio buttons: <code>.radio-primary</code>, <code>.radio-info</code>...</p>
			<div class="row">
			    <div class="col-6 check-list">
			        <label class="radio radio-primary">
			            <input type="radio" name="r1">
			            <span>Primary</span>
			        </label>
			        <label class="radio radio-success">
			            <input type="radio" name="r1">
			            <span>Success</span>
			        </label>
			        <label class="radio radio-secondary">
			            <input type="radio" name="r1">
			            <span>Secondary</span>
			        </label>
			        <label class="radio radio-info">
			            <input type="radio" name="r1">
			            <span>Info</span>
			        </label>
			        <label class="radio radio-warning">
			            <input type="radio" name="r1">
			            <span>Warning</span>
			        </label>
			        <label class="radio radio-danger">
			            <input type="radio" name="r1">
			            <span>Danger</span>
			        </label>
			        <label class="radio radio-purple">
			            <input type="radio" name="r1">
			            <span>Purple</span>
			        </label>
			        <label class="radio radio-dark">
			            <input type="radio" name="r1">
			            <span>Dark</span>
			        </label>
			    </div>
			    <div class="col-6 check-list">
			        <label class="radio radio-primary">
			            <input type="radio" checked="">
			            <span>Primary</span>
			        </label>
			        <label class="radio radio-success">
			            <input type="radio" checked="">
			            <span>Success</span>
			        </label>
			        <label class="radio radio-secondary">
			            <input type="radio" checked="">
			            <span>Secondary</span>
			        </label>
			        <label class="radio radio-info">
			            <input type="radio" checked="">
			            <span>Info</span>
			        </label>
			        <label class="radio radio-warning">
			            <input type="radio" checked="">
			            <span>Warning</span>
			        </label>
			        <label class="radio radio-danger">
			            <input type="radio" checked="">
			            <span>Danger</span>
			        </label>
			        <label class="radio radio-purple">
			            <input type="radio" checked="">
			            <span>Purple</span>
			        </label>
			        <label class="radio radio-dark">
			            <input type="radio" checked="">
			            <span>Dark</span>
			        </label>
			    </div>
			</div>
			<hr class="my-4">
			<p class="text-muted my-4">In addition to the <code>.radio-*</code> modification classes you can also add an additional class <code>.radio-grey</code>.</p>
			<div class="row">
			    <div class="col-6 check-list">
			        <label class="radio radio-grey radio-primary">
			            <input type="radio" name="r2">
			            <span>Primary</span>
			        </label>
			        <label class="radio radio-grey radio-success">
			            <input type="radio" name="r2">
			            <span>Success</span>
			        </label>
			        <label class="radio radio-grey radio-secondary">
			            <input type="radio" name="r2">
			            <span>Secondary</span>
			        </label>
			        <label class="radio radio-grey radio-info">
			            <input type="radio" name="r2">
			            <span>Info</span>
			        </label>
			        <label class="radio radio-grey radio-warning">
			            <input type="radio" name="r2">
			            <span>Warning</span>
			        </label>
			        <label class="radio radio-grey radio-danger">
			            <input type="radio" name="r2">
			            <span>Danger</span>
			        </label>
			        <label class="radio radio-grey radio-purple">
			            <input type="radio" name="r2">
			            <span>Purple</span>
			        </label>
			        <label class="radio radio-grey radio-dark">
			            <input type="radio" name="r2">
			            <span>Dark</span>
			        </label>
			    </div>
			    <div class="col-6 check-list">
			        <label class="radio radio-grey radio-primary">
			            <input type="radio" checked="">
			            <span>Primary</span>
			        </label>
			        <label class="radio radio-grey radio-success">
			            <input type="radio" checked="">
			            <span>Success</span>
			        </label>
			        <label class="radio radio-grey radio-secondary">
			            <input type="radio" checked="">
			            <span>Secondary</span>
			        </label>
			        <label class="radio radio-grey radio-info">
			            <input type="radio" checked="">
			            <span>Info</span>
			        </label>
			        <label class="radio radio-grey radio-warning">
			            <input type="radio" checked="">
			            <span>Warning</span>
			        </label>
			        <label class="radio radio-grey radio-danger">
			            <input type="radio" checked="">
			            <span>Danger</span>
			        </label>
			        <label class="radio radio-grey radio-purple">
			            <input type="radio" checked="">
			            <span>Purple</span>
			        </label>
			        <label class="radio radio-grey radio-dark">
			            <input type="radio" checked="">
			            <span>Dark</span>
			        </label>
			    </div>
			</div>
			<hr class="mt-4 mb-5">
			<h5>Outline</h5>
			<p class="text-muted mb-4">Add <code>.radio-outline-*</code> for outline radio buttons: <code>.radio-outline-primary</code>, <code>.radio-outline-info</code>...</p>
			<div class="row">
			    <div class="col-6 check-list">
			        <label class="radio radio-outline-primary">
			            <input type="radio" name="r3">
			            <span>Primary</span>
			        </label>
			        <label class="radio radio-outline-success">
			            <input type="radio" name="r3">
			            <span>Success</span>
			        </label>
			        <label class="radio radio-outline-secondary">
			            <input type="radio" name="r3">
			            <span>Secondary</span>
			        </label>
			        <label class="radio radio-outline-info">
			            <input type="radio" name="r3">
			            <span>Info</span>
			        </label>
			        <label class="radio radio-outline-warning">
			            <input type="radio" name="r3">
			            <span>Warning</span>
			        </label>
			        <label class="radio radio-outline-danger">
			            <input type="radio" name="r3">
			            <span>Danger</span>
			        </label>
			        <label class="radio radio-outline-purple">
			            <input type="radio" name="r3">
			            <span>Purple</span>
			        </label>
			        <label class="radio radio-outline-dark">
			            <input type="radio" name="r3">
			            <span>Dark</span>
			        </label>
			    </div>
			    <div class="col-6 check-list">
			        <label class="radio radio-outline-primary">
			            <input type="radio" checked="">
			            <span>Primary</span>
			        </label>
			        <label class="radio radio-outline-success">
			            <input type="radio" checked="">
			            <span>Success</span>
			        </label>
			        <label class="radio radio-outline-secondary">
			            <input type="radio" checked="">
			            <span>Secondary</span>
			        </label>
			        <label class="radio radio-outline-info">
			            <input type="radio" checked="">
			            <span>Info</span>
			        </label>
			        <label class="radio radio-outline-warning">
			            <input type="radio" checked="">
			            <span>Warning</span>
			        </label>
			        <label class="radio radio-outline-danger">
			            <input type="radio" checked="">
			            <span>Danger</span>
			        </label>
			        <label class="radio radio-outline-purple">
			            <input type="radio" checked="">
			            <span>Purple</span>
			        </label>
			        <label class="radio radio-outline-dark">
			            <input type="radio" checked="">
			            <span>Dark</span>
			        </label>
			    </div>
			</div>
		</card>
	</div>
</div>
