<div class="box-wrapper">
    <div class="error-content py-3">
        <h1 class="error-code text-primary font-weight-normal" style="font-size: 120px">500</h1>
        <h3 class="text-muted mb-4">Internal Server Error</h3>
        <p class="text-muted mb-4 font-16">Sorry, There is a problem with the resource you are looking for, and it can not displayed.</p>
        <div><a class="btn btn-outline-primary" routerLink='/index'><span class="btn-icon"><i class="material-icons">arrow_back</i>Go Homepage</span></a></div>
    </div>
</div>
