
<subheader title='State Colors' [breadcrumb]="['UI INTERFACE', 'State Colors']"></subheader>

<card title='State Colors'>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-primary color-box"></div>
            <h6 class="mb-0">Primary</h6><small>#2949ef</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-secondary color-box"></div>
            <h6 class="mb-0">Secondary</h6><small>#6c757d</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-danger color-box"></div>
            <h6 class="mb-0">Danger</h6><small>#FE4D2E</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-warning color-box"></div>
            <h6 class="mb-0">Warning</h6><small>#fd7e14</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-success color-box"></div>
            <h6 class="mb-0">Success</h6><small>#06b5b6</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-info color-box"></div>
            <h6 class="mb-0">Info</h6><small>#00bcd4</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-light color-box"></div>
            <h6 class="mb-0">Light</h6><small>#dee2e6</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-dark color-box"></div>
            <h6 class="mb-0">Dark</h6><small>#343a40</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-purple color-box"></div>
            <h6 class="mb-0">Purple</h6><small>#6f42c1</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="bg-pink color-box" style="background-color: #e83e8c"></div>
            <h6 class="mb-0">Pink</h6><small>#e83e8c</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="color-box" style="background-color: #FDA424"></div>
            <h6 class="mb-0">Yellow</h6><small>#FDA424</small>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2 text-center mb-4">
            <div class="color-box" style="background-color: #6610f2"></div>
            <h6 class="mb-0">Indigo</h6><small>#6610f2</small>
        </div>
    </div>
</card>

<card title='Color Pallete'>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="p-3 bg-primary-800 flexbox text-white">.bg-primary-800<span>800</span></div>
            <div class="p-3 bg-primary-700 flexbox text-white">.bg-primary-700<span>700</span></div>
            <div class="p-3 bg-primary-600 flexbox text-white">.bg-primary-600<span>600</span></div>
            <div class="p-3 bg-primary flexbox text-white">.bg-primary<span>500</span></div>
            <div class="p-3 bg-primary-400 flexbox text-white">.bg-primary-400<span>400</span></div>
            <div class="p-3 bg-primary-300 flexbox text-white">.bg-primary-300<span>300</span></div>
            <div class="p-3 bg-primary-200 flexbox text-white">.bg-primary-200<span>200</span></div>
            <div class="p-3 bg-primary-100 flexbox text-white">.bg-primary-100<span>100</span></div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="p-3 bg-secondary-800 flexbox text-white">.bg-secondary-800<span>800</span></div>
            <div class="p-3 bg-secondary-700 flexbox text-white">.bg-secondary-700<span>700</span></div>
            <div class="p-3 bg-secondary-600 flexbox text-white">.bg-secondary-600<span>600</span></div>
            <div class="p-3 bg-secondary flexbox text-white">.bg-secondary<span>500</span></div>
            <div class="p-3 bg-secondary-400 flexbox text-white">.bg-secondary-400<span>400</span></div>
            <div class="p-3 bg-secondary-300 flexbox text-white">.bg-secondary-300<span>300</span></div>
            <div class="p-3 bg-secondary-200 flexbox text-white">.bg-secondary-200<span>200</span></div>
            <div class="p-3 bg-secondary-100 flexbox text-white">.bg-secondary-100<span>100</span></div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="p-3 bg-info-800 flexbox text-white">.bg-info-800<span>800</span></div>
            <div class="p-3 bg-info-700 flexbox text-white">.bg-info-700<span>700</span></div>
            <div class="p-3 bg-info-600 flexbox text-white">.bg-info-600<span>600</span></div>
            <div class="p-3 bg-info flexbox text-white">.bg-info<span>500</span></div>
            <div class="p-3 bg-info-400 flexbox text-white">.bg-info-400<span>400</span></div>
            <div class="p-3 bg-info-300 flexbox text-white">.bg-info-300<span>300</span></div>
            <div class="p-3 bg-info-200 flexbox text-white">.bg-info-200<span>200</span></div>
            <div class="p-3 bg-info-100 flexbox text-white">.bg-info-100<span>100</span></div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="p-3 bg-success-800 flexbox text-white">.bg-success-800<span>800</span></div>
            <div class="p-3 bg-success-700 flexbox text-white">.bg-success-700<span>700</span></div>
            <div class="p-3 bg-success-600 flexbox text-white">.bg-success-600<span>600</span></div>
            <div class="p-3 bg-success flexbox text-white">.bg-success<span>500</span></div>
            <div class="p-3 bg-success-400 flexbox text-white">.bg-success-400<span>400</span></div>
            <div class="p-3 bg-success-300 flexbox text-white">.bg-success-300<span>300</span></div>
            <div class="p-3 bg-success-200 flexbox text-white">.bg-success-200<span>200</span></div>
            <div class="p-3 bg-success-100 flexbox text-white">.bg-success-100<span>100</span></div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="p-3 bg-purple-800 flexbox text-white">.bg-purple-800<span>800</span></div>
            <div class="p-3 bg-purple-700 flexbox text-white">.bg-purple-700<span>700</span></div>
            <div class="p-3 bg-purple-600 flexbox text-white">.bg-purple-600<span>600</span></div>
            <div class="p-3 bg-purple flexbox text-white">.bg-purple<span>500</span></div>
            <div class="p-3 bg-purple-400 flexbox text-white">.bg-purple-400<span>400</span></div>
            <div class="p-3 bg-purple-300 flexbox text-white">.bg-purple-300<span>300</span></div>
            <div class="p-3 bg-purple-200 flexbox text-white">.bg-purple-200<span>200</span></div>
            <div class="p-3 bg-purple-100 flexbox text-white">.bg-purple-100<span>100</span></div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="p-3 bg-danger-800 flexbox text-white">.bg-danger-800<span>800</span></div>
            <div class="p-3 bg-danger-700 flexbox text-white">.bg-danger-700<span>700</span></div>
            <div class="p-3 bg-danger-600 flexbox text-white">.bg-danger-600<span>600</span></div>
            <div class="p-3 bg-danger flexbox text-white">.bg-danger<span>500</span></div>
            <div class="p-3 bg-danger-400 flexbox text-white">.bg-danger-400<span>400</span></div>
            <div class="p-3 bg-danger-300 flexbox text-white">.bg-danger-300<span>300</span></div>
            <div class="p-3 bg-danger-200 flexbox text-white">.bg-danger-200<span>200</span></div>
            <div class="p-3 bg-danger-100 flexbox text-white">.bg-danger-100<span>100</span></div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="p-3 bg-warning-800 flexbox text-white">.bg-warning-800<span>800</span></div>
            <div class="p-3 bg-warning-700 flexbox text-white">.bg-warning-700<span>700</span></div>
            <div class="p-3 bg-warning-600 flexbox text-white">.bg-warning-600<span>600</span></div>
            <div class="p-3 bg-warning flexbox text-white">.bg-warning<span>500</span></div>
            <div class="p-3 bg-warning-400 flexbox text-white">.bg-warning-400<span>400</span></div>
            <div class="p-3 bg-warning-300 flexbox text-white">.bg-warning-300<span>300</span></div>
            <div class="p-3 bg-warning-200 flexbox text-white">.bg-warning-200<span>200</span></div>
            <div class="p-3 bg-warning-100 flexbox text-white">.bg-warning-100<span>100</span></div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="p-3 bg-dark-800 flexbox text-white">.bg-dark-800<span>800</span></div>
            <div class="p-3 bg-dark-700 flexbox text-white">.bg-dark-700<span>700</span></div>
            <div class="p-3 bg-dark-600 flexbox text-white">.bg-dark-600<span>600</span></div>
            <div class="p-3 bg-dark flexbox text-white">.bg-dark<span>500</span></div>
            <div class="p-3 bg-dark-400 flexbox text-white">.bg-dark-400<span>400</span></div>
            <div class="p-3 bg-dark-300 flexbox text-white">.bg-dark-300<span>300</span></div>
            <div class="p-3 bg-dark-200 flexbox text-white">.bg-dark-200<span>200</span></div>
            <div class="p-3 bg-dark-100 flexbox text-white">.bg-dark-100<span>100</span></div>
        </div>
    </div>
</card>