<subheader title='Pricing Table v2' [breadcrumb]="['Pricing Tables', 'Pricing Table v2']"></subheader>

<card title='Pricing Table'>
    <div class="card-fullwidth-block">
        <div class="table-responsive">
            <table class="table pricing-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <div class="h4">Basic</div>
                            <div class="text-muted font-weight-normal mb-3">Lorem ipsum dolar det<br>	set amet enum du</div><a class="btn btn-danger btn-rounded mb-3" href="javascript:;">PURCHASE</a>
                        </th>
                        <th>
                            <div class="h4">Business</div>
                            <div class="text-muted font-weight-normal mb-3">Lorem ipsum dolar det<br>	set amet enum du</div><a class="btn btn-danger btn-rounded mb-3" href="javascript:;">PURCHASE</a>
                        </th>
                        <th>
                            <div class="h4">Extended</div>
                            <div class="text-muted font-weight-normal mb-3">Lorem ipsum dolar det<br>	set amet enum du</div><a class="btn btn-danger btn-rounded mb-3" href="javascript:;">PURCHASE</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color: #ebedf7;">
                        <td>Price</td>
                        <td><span class="h1 m-0"><sup>$</sup>35</span></td>
                        <td><span class="h1 m-0"><sup>$</sup>99</span></td>
                        <td><span class="h1 m-0"><sup>$</sup>189</span></td>
                    </tr>
                    <tr>
                        <td>Domains</td>
                        <td>1</td>
                        <td>5</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td>Website space</td>
                        <td>10 GB</td>
                        <td>50 GB</td>
                        <td>250 GB</td>
                    </tr>
                    <tr>
                        <td>Email accounts</td>
                        <td>3</td>
                        <td>10</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="background-color: #ebedf7;">Features</td>
                    </tr>
                    <tr>
                        <td>Backup tools</td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                    </tr>
                    <tr>
                        <td>Backup tools</td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                    </tr>
                    <tr>
                        <td>Live Chat Support</td>
                        <td><i class="material-icons text-muted">minimize</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                    </tr>
                    <tr>
                        <td>Free SSL</td>
                        <td><i class="material-icons text-muted">minimize</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                    </tr>
                    <tr>
                        <td>Unlimited Users</td>
                        <td><i class="material-icons text-muted">minimize</i></td>
                        <td><i class="material-icons text-muted">minimize</i></td>
                        <td><i class="material-icons text-success">check_circle</i></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-primary btn-rounded mt-3">PURCHASE</button></td>
                        <td><button class="btn btn-primary btn-rounded mt-3">PURCHASE</button></td>
                        <td><button class="btn btn-primary btn-rounded mt-3">PURCHASE</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</card>