<subheader title='Timeline Lists' [breadcrumb]="['Timelines', 'Timeline Lists']"></subheader>

<div class="row">
    <div class="col-lg-6">
    	<card title='Default Timeline list' fullheight='true'>
            <ul class="timeline timeline-default">
                <li class="timeline-item">2 Issue fixed<span class="font-13 text-muted ml-2">Just now</span></li>
                <li class="timeline-item"><span>15 New orders<span class="badge badge-primary badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">5 mins</span></li>
                <li class="timeline-item">18 new orders sent<span class="font-13 text-muted ml-2">24 mins</span></li>
                <li class="timeline-item">15 New messages<span class="font-13 text-muted ml-2">45 mins</span></li>
                <li class="timeline-item">The invoice is ready<span class="font-13 text-muted ml-2">1 hrs</span></li>
                <li class="timeline-item"><span>Server Error<span class="badge badge-success badge-pill ml-2">resolved</span></span><span class="font-13 text-muted ml-2">2 hrs</span></li>
                <li class="timeline-item"><span>System Warning<a class="text-purple ml-2">Check</a></span><span class="font-13 text-muted ml-2">12:07</span></li>
                <li class="timeline-item">24 new users registered<span class="font-13 text-muted ml-2">12:30</span></li>
                <li class="timeline-item"><span>5 New Orders<span class="badge badge-warning badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">13:45</span></li>
                <li class="timeline-item"><span class="flexbox">Production server up<i class="la la-arrow-circle-up font-18 ml-2 text-success"></i></span><span class="font-13 text-muted ml-2">1 days ago</span></li>
                <li class="timeline-item">Server overloaded 91%<span class="font-13 text-muted ml-2">2 days ago</span></li>
                <li class="timeline-item">Server error<span class="font-13 text-muted ml-2">2 days ago</span></li>
            </ul>
    	</card>
    </div>
    <div class="col-lg-6">
    	<card title='Outline points' fullheight='true'>
            <ul class="timeline timeline-default outline-points">
                <li class="timeline-item">2 Issue fixed<span class="font-13 text-muted ml-2">Just now</span></li>
                <li class="timeline-item"><span>15 New orders<span class="badge badge-primary badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">5 mins</span></li>
                <li class="timeline-item">18 new orders sent<span class="font-13 text-muted ml-2">24 mins</span></li>
                <li class="timeline-item">15 New messages<span class="font-13 text-muted ml-2">45 mins</span></li>
                <li class="timeline-item">The invoice is ready<span class="font-13 text-muted ml-2">1 hrs</span></li>
                <li class="timeline-item"><span>Server Error<span class="badge badge-success badge-pill ml-2">resolved</span></span><span class="font-13 text-muted ml-2">2 hrs</span></li>
                <li class="timeline-item"><span>System Warning<a class="text-purple ml-2">Check</a></span><span class="font-13 text-muted ml-2">12:07</span></li>
                <li class="timeline-item">24 new users registered<span class="font-13 text-muted ml-2">12:30</span></li>
                <li class="timeline-item"><span>5 New Orders<span class="badge badge-warning badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">13:45</span></li>
                <li class="timeline-item"><span class="flexbox">Production server up<i class="la la-arrow-circle-up font-18 ml-2 text-success"></i></span><span class="font-13 text-muted ml-2">1 days ago</span></li>
                <li class="timeline-item">Server overloaded 91%<span class="font-13 text-muted ml-2">2 days ago</span></li>
                <li class="timeline-item">Server error<span class="font-13 text-muted ml-2">2 days ago</span></li>
            </ul>
    	</card>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
    	<card title='Custom points' fullheight='true'>
            <ul class="timeline">
                <li class="timeline-item"><span class="timeline-point badge-primary badge-point"></span> 2 Issue fixed<span class="font-13 text-muted ml-2">Just now</span></li>
                <li class="timeline-item"><span class="timeline-point badge-warning badge-point"></span><span>15 New orders<span class="badge badge-primary badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">5 mins</span></li>
                <li class="timeline-item"><span class="timeline-point badge-success badge-point"></span> 18 new orders sent<span class="font-13 text-muted ml-2">24 mins</span></li>
                <li class="timeline-item"><span class="timeline-point badge-primary badge-point"></span> 15 New messages<span class="font-13 text-muted ml-2">45 mins</span></li>
                <li class="timeline-item"><span class="timeline-point badge-warning badge-point"></span> The invoice is ready<span class="font-13 text-muted ml-2">1 hrs</span></li>
                <li class="timeline-item"><span class="timeline-point badge-danger badge-point"></span><span>Server Error<span class="badge badge-success badge-pill ml-2">resolved</span></span><span class="font-13 text-muted ml-2">2 hrs</span></li>
                <li class="timeline-item"><span class="timeline-point badge-primary badge-point"></span><span>System Warning<a class="text-purple ml-2">Check</a></span><span class="font-13 text-muted ml-2">12:07</span></li>
                <li class="timeline-item"><span class="timeline-point badge-success badge-point"></span> 24 new users registered<span class="font-13 text-muted ml-2">12:30</span></li>
                <li class="timeline-item"><span class="timeline-point badge-primary badge-point"></span><span>5 New Orders<span class="badge badge-warning badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">13:45</span></li>
                <li class="timeline-item"><span class="timeline-point badge-primary badge-point"></span><span class="flexbox">Production server up<i class="la la-arrow-circle-up font-18 ml-2 text-success"></i></span><span class="font-13 text-muted ml-2">1 days ago</span></li>
                <li class="timeline-item"><span class="timeline-point badge-warning badge-point"></span> Server overloaded 91%<span class="font-13 text-muted ml-2">2 days ago</span></li>
                <li class="timeline-item"><span class="timeline-point badge-danger badge-point"></span> Server error<span class="font-13 text-muted ml-2">2 days ago</span></li>
            </ul>
    	</card>
    </div>
    <div class="col-lg-6">
    	<card title='Custom points' fullheight='true'>
            <ul class="timeline">
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-primary font-18 bg-white"></i> 2 Issue fixed<span class="font-13 text-muted ml-2">Just now</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-warning font-18 bg-white"></i><span>15 New orders<span class="badge badge-primary badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">5 mins</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-success font-18 bg-white"></i> 18 new orders sent<span class="font-13 text-muted ml-2">24 mins</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-primary font-18 bg-white"></i> 15 New messages<span class="font-13 text-muted ml-2">45 mins</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-warning font-18 bg-white"></i> The invoice is ready<span class="font-13 text-muted ml-2">1 hrs</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-danger font-18 bg-white"></i><span>Server Error<span class="badge badge-success badge-pill ml-2">resolved</span></span><span class="font-13 text-muted ml-2">2 hrs</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-primary font-18 bg-white"></i><span>System Warning<a class="text-purple ml-2">Check</a></span><span class="font-13 text-muted ml-2">12:07</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-success font-18 bg-white"></i> 24 new users registered<span class="font-13 text-muted ml-2">12:30</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-primary font-18 bg-white"></i><span>5 New Orders<span class="badge badge-warning badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">13:45</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-primary font-18 bg-white"></i><span class="flexbox">Production server up<i class="la la-arrow-circle-up font-18 ml-2 text-success"></i></span><span class="font-13 text-muted ml-2">1 days ago</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-warning font-18 bg-white"></i> Server overloaded 91%<span class="font-13 text-muted ml-2">2 days ago</span></li>
                <li class="timeline-item"><i class="timeline-point fas fa-genderless text-danger font-18 bg-white"></i> Server error<span class="font-13 text-muted ml-2">2 days ago</span></li>
            </ul>
    	</card>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
    	<card title='Red points' fullheight='true'>
            <ul class="timeline timeline-default timeline-danger">
                <li class="timeline-item">2 Issue fixed<span class="font-13 text-muted ml-2">Just now</span></li>
                <li class="timeline-item"><span>15 New orders<span class="badge badge-primary badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">5 mins</span></li>
                <li class="timeline-item">18 new orders sent<span class="font-13 text-muted ml-2">24 mins</span></li>
                <li class="timeline-item">15 New messages<span class="font-13 text-muted ml-2">45 mins</span></li>
                <li class="timeline-item">The invoice is ready<span class="font-13 text-muted ml-2">1 hrs</span></li>
                <li class="timeline-item"><span>Server Error<span class="badge badge-success badge-pill ml-2">resolved</span></span><span class="font-13 text-muted ml-2">2 hrs</span></li>
                <li class="timeline-item"><span>System Warning<a class="text-purple ml-2">Check</a></span><span class="font-13 text-muted ml-2">12:07</span></li>
                <li class="timeline-item">24 new users registered<span class="font-13 text-muted ml-2">12:30</span></li>
                <li class="timeline-item"><span>5 New Orders<span class="badge badge-warning badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">13:45</span></li>
                <li class="timeline-item"><span class="flexbox">Production server up<i class="la la-arrow-circle-up font-18 ml-2 text-success"></i></span><span class="font-13 text-muted ml-2">1 days ago</span></li>
                <li class="timeline-item">Server overloaded 91%<span class="font-13 text-muted ml-2">2 days ago</span></li>
                <li class="timeline-item">Server error<span class="font-13 text-muted ml-2">2 days ago</span></li>
            </ul>
    	</card>
    </div>
    <div class="col-lg-6">
    	<card title='Red points' fullheight='true'>
            <ul class="timeline timeline-default outline-points timeline-danger">
                <li class="timeline-item">2 Issue fixed<span class="font-13 text-muted ml-2">Just now</span></li>
                <li class="timeline-item"><span>15 New orders<span class="badge badge-primary badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">5 mins</span></li>
                <li class="timeline-item">18 new orders sent<span class="font-13 text-muted ml-2">24 mins</span></li>
                <li class="timeline-item">15 New messages<span class="font-13 text-muted ml-2">45 mins</span></li>
                <li class="timeline-item">The invoice is ready<span class="font-13 text-muted ml-2">1 hrs</span></li>
                <li class="timeline-item"><span>Server Error<span class="badge badge-success badge-pill ml-2">resolved</span></span><span class="font-13 text-muted ml-2">2 hrs</span></li>
                <li class="timeline-item"><span>System Warning<a class="text-purple ml-2">Check</a></span><span class="font-13 text-muted ml-2">12:07</span></li>
                <li class="timeline-item">24 new users registered<span class="font-13 text-muted ml-2">12:30</span></li>
                <li class="timeline-item"><span>5 New Orders<span class="badge badge-warning badge-pill ml-2">important</span></span><span class="font-13 text-muted ml-2">13:45</span></li>
                <li class="timeline-item"><span class="flexbox">Production server up<i class="la la-arrow-circle-up font-18 ml-2 text-success"></i></span><span class="font-13 text-muted ml-2">1 days ago</span></li>
                <li class="timeline-item">Server overloaded 91%<span class="font-13 text-muted ml-2">2 days ago</span></li>
                <li class="timeline-item">Server error<span class="font-13 text-muted ml-2">2 days ago</span></li>
            </ul>
    	</card>
    </div>
</div>
