<div class="dialog-content-wrapper">
    <div class="mat-dialog-header border-bottom flexbox">
        <h1 mat-dialog-title>{{dialogTitle}}</h1>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="position-relative pb-0" perfectScrollbar>

        <div class="media mb-4 pb-3" *ngIf="action === 'edit'">
            <img class="rounded-circle mr-3" [src]="contact.avatar" alt="image" width="44">
            <div class="media-body">
                <div class="h5 mb-1">{{ contact.name }} {{ contact.lastName }}</div>
                <div>{{ contact.jobTitle }}</div>
            </div>
        </div>

        <form [formGroup]="contactForm">

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Name</mat-label>
                <mat-icon matSuffix class="text-muted">account_circle</mat-icon>
                <input name="name" formControlName="name" matInput required>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Lastname</mat-label>
                <mat-icon matSuffix class="text-muted">account_circle</mat-icon>
                <input name="lastName" formControlName="lastName" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Nickname</mat-label>
                <mat-icon matSuffix class="text-muted">star</mat-icon>
                <input name="nickname" formControlName="nickname" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Phone number</mat-label>
                <mat-icon matSuffix class="text-muted">phone</mat-icon>
                <input formControlName="phone" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Email</mat-label>
                <mat-icon matSuffix class="text-muted">email</mat-icon>
                <input name="email" formControlName="email" matInput type="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Company</mat-label>
                <mat-icon matSuffix class="text-muted">domain</mat-icon>
                <input name="company" formControlName="company" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Job title</mat-label>
                <mat-icon matSuffix class="text-muted">work</mat-icon>
                <input name="jobTitle" formControlName="jobTitle" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Birthday</mat-label>
                <input matInput [matDatepicker]="birthdayDatePicker" name="birthday" formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdayDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Address</mat-label>
                <mat-icon matSuffix class="text-muted">home</mat-icon>
                <input name="address" formControlName="address" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class='w-100'>
                <mat-label>Notes</mat-label>
                <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
            </mat-form-field>
        </form>

    </div>

    <div mat-dialog-actions>

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-2"
                (click)="matDialogRef.close(['delete',contactForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                (click)="matDialogRef.close(contactForm)"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                (click)="matDialogRef.close(['save',contactForm])"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
