<subheader title='Angular Material' [breadcrumb]="['UI INTERFACE', 'Angular Material']"></subheader>

<card>
    <p>Angular Material - Material Design components for Angular. Angular Material comprises a range of components which implement common interaction patterns according to the Material Design specification.</p>
    <p class="font-16 font-weight-bold text-primary">The template also integrates Angular Material.</p>
    <div class="text-center"><a class="btn btn-primary" href='https://material.angular.io/components/categories' target="_blank">See Angular Material demos</a></div>
</card>